/* PointCloudCard.css */
.sortable-card-wrapper {
  display: flex;
  min-width: 475px;
  height: 380px;
}

.pointcloud-card {
  position: relative;
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
  min-width: 475px;
  box-sizing: border-box;
  height: 380px;
  display: flex;
  flex-direction: column;
}

.pointcloud-container {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  overflow: hidden;
  flex: 1 1 auto;
}

.graph-header {
  width: 100%;
  padding: 8px 0;
  cursor: grab;
}

/* Rest of your existing styles remain the same */
.pointcloud-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.graph-card-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-content: right;
  align-items: right;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.pointcloud-card:hover .graph-card-buttons {
  opacity: 1;
}
