.terminal-container {
  display: flex;
  justify-self: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.terminal-container {
  margin: 16px 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #1e1e1e;
  border: 1px solid var(--border-color);
  width: 100%;
  text-align: left;
  text-indent: 1px;
}
